@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-error {
    color: #ff0000;
    text-align: center;
    margin: 20px auto;
}